@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Old Standard TT", serif;
}

body,
html {
    background-image: url("../img/green_paper.png");
    background-size: 420px auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

main {
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    width: 370px;
    margin: auto;
}

.loader {
    z-index: 999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0000009f;
}

.loader::before,
.loader::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    content: "";
    aspect-ratio: 1;
    background-color: #8d975899;
    width: 100px;
    transform-origin: center;
    animation: loading 1s ease-in-out 0s infinite;
}

.loader::before {
    transform: translate(-50%, -50%) scale(10%);
    background-color: #8d975899;
    animation: loading 1s ease-in-out .5s infinite;
}


@keyframes loading {
    0% {
        transform: translate(-50%, -50%) scale(10%);
    }

    50% {
        transform: translate(-50%, -50%) scale(100%);
    }

    100% {
        transform: translate(-50%, -50%) scale(10%);
    }
}


h1,
h2 {
    max-width: 350px;
    font-family: "Playfair Display SC", serif;
    color: #444034;
    font-size: 40px;
}

.divider {
    position: relative;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 194px;
    height: 20px;
}

.divider__line {
    position: relative;
    width: 176px;
    height: 7px;
    background-color: #e9e1c1;
}

.divider::after {
    content: "";
    width: 134px;
    height: 85px;
    position: absolute;
    bottom: 0;
    right: -42px;
    transform: translateX(100%);
    background-image: url("../img/book\ and\ quill.png");
}

.divider__line::before,
.divider__line::after {
    content: "";
    height: 19px;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: #c5bb90;
}

.divider__line::after {
    left: auto;
    right: 0;
    transform: translate(50%, -50%);
}

h2 {
    font-size: 36px;
}

input {
    width: 100%;
    background: url("../img/yellow_paper.png");
    font-size: 24px;
    padding: 7px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    color: #444034;
}

input::placeholder {
    color: #454545;
}

.input {
    margin-bottom: 5px;
    position: relative;
}

.input::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: .3s;
    transform: translate(-50%, -50%);
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    border-radius: 19px;
    box-shadow: inset #825A3E 0 0 0 2px;
}

.input:focus-within::after {
    opacity: 1;
}



.button {
    background: url("../img/button_paper.png");
    min-width: 220px;
    padding: 11px 15px;
    font-size: 24px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    width: fit-content;
    font-weight: bold;
    margin-top: 5px;
    color: #E9E1C1;
    transition: .3s;
    position: relative;
}

.button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    border-radius: 19px;
    transform: translate(-50%, -50%);
    box-shadow: inset #8D9758 0 0 0 1px;
}

.button:hover {
    opacity: .9;
    scale: 1.05;
}

.button:active {
    scale: .95;
}

#login-button,#set_read_true,#set_read_false {
    margin: auto;
    margin-top: 15px;
}

.fragment {
    font-size: 20px;
    background-image: url("../img/fragment_background.png");
    margin:15px 0;
    position: relative;
    padding: 10px;
}
.fragment::before,.fragment::after{
    content:"";
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background-image: url("../img/paper_top.png");
}
.fragment::after{
    top: auto;
    bottom: -4px;
    background-image: url("../img/paper_bottom.png");
}

.fragment p{
    margin-bottom: 5px;
    color: #444034;
}